## User secrets
AppConfig.cs

## Visual Studio cache & build files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.vssscc

## Build outputs
[Bb]in/
[Oo]bj/
[Aa]rm/
[Dd]ebug/
[Rr]elease/
_UpgradeReport_Files/
UpgradeLog*.XML
UpgradeLog*.htm

## Windows Phone Packages
*.xap
*.appx
*.appxbundle

## NuGet Packages
packages/
!packages/repositories.config